<ion-header>
  <ion-navbar>
    <ion-title>
      Search Issues
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <search-filter [searchType]='type' (searchResponse)="updateApiResponse($event)"></search-filter>

  <ion-list *ngIf="apiResponse">
    <ion-item>
      <span>{{ apiResponse.total_count }} issues found</span>
    </ion-item>
    <ion-card *ngFor="let item of apiResponse.items">
      <ion-card-content>
        <ion-card-title>
          {{ item.title }}
        </ion-card-title>
      </ion-card-content>
      <ion-row>
        <ion-col col-6>
          <button ion-button icon-left clear small>
            <ion-icon name="clipboard"></ion-icon>
            <div> {{ item.state }} </div>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{ item.comments }} comments</div>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-8>
          <button ion-button icon-left clear small>
            <ion-icon name="contact"></ion-icon>
            <div> {{ item.user.login }} </div>
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button icon-left clear small>
            <ion-icon name="flash"></ion-icon>
            <div>{{ item.score | number:'1.0-2' }}</div>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <button ion-button icon-left clear small>
            <ion-icon name="clock"></ion-icon>
            <div>Created on {{ item.created_at | date:'dd.MM.y HH:mm' }}</div>
          </button>
        </ion-col>
      </ion-row>
      <ion-item>
        <button item-end ion-button icon-left small (click)="goToDetails(item)">
          <ion-icon name="share-alt"></ion-icon>
          Details
        </button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
